a {
  transition: all 0.2s;
  text-decoration: none;
}

ul, .menu {
  margin-left: 0;
  padding-left: 0;

  li:first-child a {
    padding-left: 0;
  }
}

li {
  list-style-type: none;

  &:first-child {
    margin-left: 0;
    padding-left: 0;
  }
}